.outerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 700px;
}

.box {
  background-color: white;
  padding: 40px 40px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
  color: #000;
  font-size: 15px;
  font-weight: bold;
}
