.outerBox {
  padding-top: 40px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.box {
  text-align: center;
  width: 80vw;
  text-align: center;
  background-color: white;
  padding: 40px 80px;
  border-radius: 20px;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: bold;
}

.table {
  font-size: 18px;
  border-collapse: collapse;
  width: calc(100%);
  margin-top: 30px;
}

.table>thead {
  background-color: #f2f2f2;
}

.table>tbody {
  background-color: #fff;
}

.table>thead>tr>th,
.table>tbody>tr>td {
  border: 1px solid #eee;
  text-align: left;
  padding: 8px;
}

.table>tbody>tr>td>button {
  background-color: white;
  color: red;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.text {
  font-size: 20px;
  margin-top: 30px;
}

.text>u {
  font-weight: bold;
}

.green {
  color: green;
}

.red {
  color: red;
}
