.outerBox {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.innerBox {
  background-color: white;
  padding: 40px 80px;
  border-radius: 20px;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
  color: #628BB1;
  font-size: 20px;
}

.innerBox>form>div>div {
  padding-left: 10px;
  font-weight: bold;
}

.innerBox>form>div>input[type="text"] {
  background-color: #E3E6E9;
  width: 400px;
  border-radius: 7px;
  border: none;
  margin-top: 10px;
  outline: none;
  color: #225889;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 20px;
}

.innerBox>form>div>input[type="submit"] {
  background-color: var(--primary-color);
  border-radius: 10px;
  font-weight: bold;
  width: 300px;
  color: white;
  border: none;
  cursor: pointer;
  height: 50px;
  margin-top: 20px;
  font-size: 20px;
}
